In [7]:
import pandas as pd
import seaborn as sns

In [66]:
df = pd.read_csv("../data/Synthetic_Farming_Dataset_With_Seasonality_And_Challenge - Synthetic_Farming_Dataset_With_Seasonality_And_Challenge.csv")

In [67]:
df.head()

,soil_pH,soil_N,soil_P,rainfall_mm,temp_avg,fertilizer_kg_per_ha,irrigation_mm,pesticide_ml,input_cost_total,environmental_score,yield_kg_per_ha,date,month,day_of_year,crop_type
0,4.60,118.566628,32.145062,546.135959,22.486917,185.381512,335.363663,90.984308,187.058781,220.936437,4131.007011,2024-04-21,4,112,Wheat
1,6.89,151.800480,18.725041,487.411870,15.077998,68.000877,306.558119,230.030507,164.321215,155.771013,3724.148893,2024-01-07,1,7,Maize
2,6.78,31.557609,22.432062,324.301561,27.094571,83.432856,418.145657,216.111964,190.179148,197.114607,2923.937250,2024-05-07,5,128,Barley
3,8.20,133.871941,6.825415,266.864813,33.643834,26.739131,58.165864,234.025207,95.210300,56.895758,3114.859689,2023-05-24,5,144,Maize
4,7.97,160.373178,31.821689,556.410564,15.028646,59.571880,32.813044,192.473904,94.090720,64.834431,3652.127420,2023-12-25,12,359,Maize

In [ ]:
df['date'] = pd.to_datetime(df['date'])

In [69]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

def clean_data(file_path):
    df = pd.read_csv(file_path)

    # change thhe data type of date column to datetime
    df['date'] = pd.to_datetime(df['date'])

    df['month'] = df['date'].dt.month()
    df['year'] = df['date'].dt.year()

    # fill missing values
    values = {
        "soil_N": df['soil_N'].mean(),
        "rainfall_mm": df['rainfall_mm'].mean(),
        "fertilizer_kg_per_ha": df['fertilizer_kg_per_ha'].mean()
    }
    df.fillna(value = values)

    # drop month and day_of_year
    df.drop(columns=['month', 'day_of_year'], inplace = True)

    return df.head()

In [70]:
clean_data(file_path="../data/Synthetic_Farming_Dataset_With_Seasonality_And_Challenge - Synthetic_Farming_Dataset_With_Seasonality_And_Challenge.csv")

TypeError: 'Series' object is not callable

In [1]:
import pandas as pd

In [4]:
pd.read_csv("../data/processed/Synthetic_Farming_Dataset_With_Seasonality_And_Challenge - Synthetic_Farming_Dataset_With_Seasonality_And_Challenge_mean.csv").head()

,soil_pH,soil_N,soil_P,rainfall_mm,temp_avg,fertilizer_kg_per_ha,irrigation_mm,pesticide_ml,input_cost_total,environmental_score,yield_kg_per_ha,date,crop_type_Maize,crop_type_Rice,crop_type_Wheat
0,-1.592650,0.138511,-0.030478,0.529817,-0.224429,1.516431,0.612350,-0.517465,0.903641,1.279179,1.602894,2024-04-21,False,False,True
1,0.367171,0.787871,-0.869907,0.249429,-1.345513,-0.572227,0.413509,0.604150,0.441588,0.131835,0.730677,2024-01-07,True,False,False
2,0.273031,-1.561568,-0.638031,-0.529367,0.472780,-0.297632,1.183785,0.491876,0.967050,0.859757,-0.984807,2024-05-07,False,False,False
3,1.488292,0.437564,-1.614235,-0.803608,1.463784,-1.306433,-1.301116,0.636374,-0.962822,-1.609024,-0.575509,2023-05-24,True,False,False
4,1.291454,0.955374,-0.050705,0.578875,-1.352981,-0.722211,-1.476124,0.301200,-0.985573,-1.469251,0.576278,2023-12-25,True,False,False